
.logo-text{
	font-weight: bolder;
}

.slider .indicators .indicator-item.active {
  background-color: #c62828;
}

.btn, .btn-large{
  background-color: #c62828;
}

.btn:hover, .btn-large:hover {
  background-color: #d50000;
}

.card .card-title {
  font-size: 26px;
  font-weight: 600;
}

.gallery-container{
	padding: 10px;
}

.space{
	padding-bottom: 10px;
	padding-left: 20px;
}

.gallery-img{
	max-width: 100%;
	border:1px solid transparent;
}

.ytp-thumbnail-overlay {
	max-width: 100%;
	border:1px solid transparent;
	display: inline-block;
	width: 30%;
}

.shows-img{
	background-image: url('../img/dates.jpg');
	height: 100%;
	background-size: cover;
}

.dates-box{
	padding-top: 15px;
	max-width: 100%;
}

.secondary-content {
	color: #c62828;
}

.img-test{
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

.new-btn{
	background-color: black;
	margin-top: 60px;
	color:#FFF;
}