
.logo-text{
	font-weight: bolder;
}

.slider .indicators .indicator-item.active {
  background-color: #c62828;
}

.btn, .btn-large{
  background-color: #c62828;
}

.btn:hover, .btn-large:hover {
  background-color: #d50000;
}

.card-title{
	font-weight: bolder;
	font-size: 2em;
}
